<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User table</title>
</head>
<body>

<table border="1">
    <tr style="color: #414141">
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Login</th>
        <th>Roles</th>
    </tr>

    <tr th:each="user : ${listUsers}">
        <td th:utext="${user.id}"></td>
        <td><a th:href="@{/admin/{id}(id=${user.id})}"
               th:text="${user.firstName}"></a>
        </td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.email}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.roles}"></td>

        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.id})}">
                <input type="submit" value="Update" />
            </form>
        </td>
</table>


<form action="admin/new">
    <button>New user</button>
</form>

<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Logout" />
</form>
</body>
</html>