<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="firstName">Enter firstName:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
    <br/>
    <label for="age">Enter Age:</label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">lastName error</div>
    <br/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="login">Enter login:</label>
    <input type="text" th:field="*{username}" id="login">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="roleList">Input role:</label>
    <select id = "roleList" name="role">
        <option th:each="s : ${allroles}" th:value="${s}" th:text="${s}"></option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Logout"/>
</form>
</body>
</html>