<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User by id</title>
</head>
<body>
<table border="1">
    <tr style="color: indianred">
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
    </tr>
    <tr>
    <tr>
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.email}"></td>
    </tr>
</table>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Logout"/>
</form>
</body>
</html>